<!-- <app-header></app-header>
<ion-content class="background2 register-ux">


<section class="u-clearfix u-section-1" >
  <div class="u-clearfix u-sheet u-sheet-1">
    <h1 class="u-align-center u-text u-text-1">Complete el formulario</h1>
    <h4 class="u-align-center u-text u-text-2">Debes completar todos los pasos </h4>
    <div class="u-tab-links-align-justify u-tabs u-tabs-1">
      <ul class="u-spacing-30 u-tab-list u-unstyled" role="tablist">
        <li class="u-tab-item" role="presentation">
          <a class="active u-active-custom-color-1 u-button-style u-tab-link u-tab-link-1" id="link-tab-081f" href="/paso1U" role="tab" aria-controls="tab-081f" aria-selected="true">Personales</a>
        </li>
        <li class="u-tab-item" role="presentation">
          <a class="u-active-custom-color-1 u-button-style u-tab-link u-tab-link-2" id="link-tab-3a42" href="/paso2U" role="tab" aria-controls="tab-3a42" aria-selected="false">Direccion</a>
        </li>
        <li class="u-tab-item u-tab-item-3" role="presentation">
          <a class="u-active-custom-color-1 u-button-style u-tab-link u-tab-link-3" id="tab-d7e7" href="/paso3U" role="tab" aria-controls="link-tab-d7e7" aria-selected="false">Email</a>
        </li>
        <li class="u-tab-item u-tab-item-4" role="presentation">
          <a class="u-active-custom-color-1 u-button-style u-tab-link u-tab-link-4" id="tab-6219" href="/paso4U" role="tab" aria-controls="link-tab-6219" aria-selected="false">Imagen</a>
        </li>
      </ul>
      <div class="u-tab-content">
      
    
        <div class="u-container-style u-tab-pane" id="link-tab-d7e7" role="tabpanel" aria-labelledby="tab-d7e7">
          <div class="u-container-layout u-container-layout-3">
            <h4 class="u-text u-text-default u-text-5">Email y contraseña</h4>
            <div class="u-border-3 u-border-grey-dark-1 u-expanded-width-xs u-line u-line-horizontal u-line-3"></div>
            <div class="u-form u-form-3">
              <form action="https://forms.nicepagesrv.com/Form/Process" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="email" name="form">
                <div class="u-form-group u-form-name u-label-none u-form-group-10">
                  <label for="name-b9ae" class="u-label u-label-8">Nombre</label>
                  <input type="text" placeholder="Introduzca su numero" id="name-b9ae" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                </div>
                <div class="u-form-email u-form-group u-label-none u-form-group-11">
                  <label for="email-6e12" class="u-label">Email</label>
                  <input type="email" placeholder="Introduzca su correo electrónico válida" id="email-6e12" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                </div>
                <div class="u-form-group u-form-name u-label-none u-form-group-12">
                  <label for="name-01ae" class="u-label">Nombre</label>
                  <input type="text" placeholder="Debe tener mas de 8 caracteres" id="name-01ae" name="password" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                </div>
                <div class="u-align-center u-form-group u-form-submit u-form-group-13">
                  <a href="#" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-radius-13 u-btn-3">Siguiente</a>
                  <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
                <input type="hidden" value="" name="recaptchaResponse">
                <input type="hidden" name="formServices" value="d9280f9b08b1809d357e7ca9476e0a23">
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section> -->
