<section class="u-clearfix u-container-align-center u-section-1" id="carousel_1c47">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="cell-temp-clone u-container-style u-gradient u-layout-cell u-size-60 u-layout-cell-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
            <div class="u-container-layout u-container-layout-1"><span class="u-align-center u-custom-color-5 u-file-icon u-icon u-icon-circle u-icon-1"><img src="images/684849-1e4c5fec.png" alt=""></span>
              <h4 class="u-align-center u-text u-text-body-alt-color u-text-1">Chat Virtual</h4>
              <p class="u-align-center u-text u-text-white u-text-2">Puedes chatear con la comunidad</p>
              <a href="tel:+12-345-678-89089" class="u-active-custom-color-4 u-align-center u-border-active-palette-2-light-2 u-border-hover-palette-2-light-2 u-border-none u-btn u-btn-round u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-custom u-custom-color-2 u-hover-custom-color-1 u-radius-50 u-text-active-white u-text-hover-white u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">CHATEAR</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>